<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results:</h1>
    <h3>Displaying properties available on: <%= params[:chosen_date] %></h3>
    <% if @search_results.empty? %>
      <h5><%= 'No properties match your requirements' %></h5>
    <% else %>
      <form action="/request/new" method="get">
        <input type="submit" value="Make request">
      </form>
      <br>
    <% end %>
    <form action="/property/search" method="get">
      <input type="submit" value="New Search">
    </form>
    <ul>
      <% @search_results.each do |bnb| %>
        <li><%= bnb.name %></li>
        <p>ID: <%= bnb.id %></p>
        <p>Description: <%= bnb.description %></p>
        <p>Price: <%= bnb.price %></p>

      <% end %>
    </ul>
    <form method='post' action='/users/session'>
     <input type='hidden' name='_method' value='delete'>
     <input type='submit' value='Sign Out'>
   </form>
  </body>
</html>
