<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Properties</title>
  </head>
  <body>
    <% @properties.map do |property| %>
    <%= "Id: " + property.id.to_s %>
    <%="Name: " + property.name%>
    <%='Description: ' + property.description%>
    <%='Price: ' + '£' + property.price.to_s%>
    Email: <a href="mailto:<%= property.email %>"><%= property.email %></a><br><br>
    <% end %>
  </body>
</html>
