<!DOCTYPE html>
<html>
  <center>
    <head>
      <meta charset="utf-8">
      <h2><title>Properties</title></h2></br>
      <link rel='stylesheet' type='text/css' href='../public/stylesheets.css' >
    </head>
    <body>
      <form action="/request/new" method="get">
        <input type="submit" value="Make request">
      </form></br>
      <% @properties.each do |property| %>
      <%= "Id: " + property.id.to_s %>
      <%= "Name: " + property.name %>
      <%= 'Description: ' + property.description%>
      <%= 'Price: ' + '£' + property.price.to_s%>
      Email: <a href="mailto:<%= property.email %>"><%= property.email %></a><br><br>
      <% end %>

      <form action="/home" method="get">
        <input type="submit" name="homepage" value="Back to Homepage">
      </form>
    </body>
    <form method='post' action='/users/session'>
     <input type='hidden' name='_method' value='delete'>
     <input type='submit' value='Sign Out'>
   </form>
  </center>
</html>
